@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #434343;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (max-height: 600px) {
  html {
    height: auto;
  }
}
@media (max-width: 450px) {
  body {
    font-size: 10px;
  }
}
