@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap");

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Roboto Mono", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #434343;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
